body {
    font-family: 'Libre Franklin', sans-serif;
    /* color: #fff; */
}

header {
    height: 50px;
}

.vcenter {
    /* display: inline-block; */
    vertical-align: middle;
    float: right;
}

.repo {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 30px;
    /* background-color: rgba(16, 41, 83, 0.60) */
}

img {
    max-height: 300px;
    max-width: 350px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 5%;
}

#intro {
    margin: 10px;
}

.icon {
    font-size: 24px;
}

header {
    margin-bottom: 10%;
}

footer {
    font-size: 10px;
}

#footerName {
    color: hsl(217, 71%, 53%)
}

.message {
    margin: 10px;
}

.hero {
    padding: 10px;
    margin: 10px;
}