body {
    padding-top: 100px;
    font-family: 'Libre Franklin', sans-serif;
    /* color: #fff; */
}

.navbar {
    background-color: #3a3f46;
    color: white;
}

.vcenter {
    /* display: inline-block; */
    vertical-align: middle;
    float: right;
}

.repo {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 30px;
    /* background-color: rgba(16, 41, 83, 0.60) */
}

img {
    max-height: 300px;
    max-width: 350px;
    width: 150px;
    height: 150px;
    float: left;
}

footer {
    margin-top: 100px;
    background-color: #3a3f46;
    color: white;
}