<footer class="footer">
    <div class="footer">
        <div class="content has-text-centered">
            <nav class="level is-mobile">

                <h1 id="footerName"> NicBade</h1>


                <a href="https://github.com/nicbade">
                    <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
                </a>

                <a href="https://www.linkedin.com/in/nicbade/">
                    <span class="icon">
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>

                <a href="mailto:nicbade@me.com">
                    <span class="icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                </a>

                <a href="tel:16124706775">
                    <span class="icon">
                        <i class="fa fa-phone"></i>
                    </span>
                </a>
            </nav>
        </div>
    </div>
</footer>