<div class="container">
    <section class="hero is-link">
        <div class="hero head">
            <nav class="level">
                <p class="level-item has-text-centered">
                    <a href="#!user" class="link is-info">
                        Home
                    </a>
                </p>
                <p class="title level-item has-text-centered" style="height: 30px;">
                    Nic Bade
                </p>

                <p class="level-item has-text-centered">
                    <a href="#!repos" class="link is-info">
                        Portfolio
                    </a>
                </p>
            </nav>
        </div>
    </section>
</div>