<div class="container col-md-12">
    <h3 class="col-md-12">Github Repositories: </h3>
    <div class="repo">
        <div class="row well">
            <h4 class="col-md-3"><a href="{{rc.repos.data[26].html_url}}">{{rc.repos.data[26].name}}</a></h4>
            <p class="col-md-4">{{rc.repos.data[26].description}}</p>
        </div>
    </div>

    <div class="repo">
        <div class="row well">
            <h4 class="col-md-3"><a href="{{rc.repos.data[29].html_url}}">{{rc.repos.data[29].name}}</a></h4>
            <p class="col-md-4">{{rc.repos.data[29].description}}</p>
        </div>
    </div>

    <div class="repo">
        <div class="row well">
            <h4 class="col-md-3"><a href="{{rc.repos.data[27].html_url}}">{{rc.repos.data[27].name}}</a></h4>
            <p class="col-md-4">{{rc.repos.data[27].description}}</p>
        </div>
    </div>
</div>