<div>
    <h3 class="title is-4">Github Repositories: </h3>

    <div class="media-left">
        <div ng-repeat="repo in rc.repos.data">
            <article class="message is-info">
                <div class="message-body">
                    <a href="{{repo.data.html_url}}">

                        <h1 class="title is-6">{{repo.name}}</h1>
                        <p>{{repo.description}}</p>
                    </a>
                </div>
            </article>
        </div>

    </div>
</div>


</div>