<div>
    <div media-left>
        <div class="columns">
            <h3 class="title is-4 column">Github Repositories: </h3>
        </div>
    </div>
    <div class="media-left">
        <div class="column">
            <article class="message is-info">
                <div class="message-body">
                    <a href="{{rc.repos.data[6].html_url}}">

                        <h1 class="title is-6">{{rc.repos.data[6].name}}</h1>
                    </a>
                    <p>{{rc.repos.data[6].description}}</p>

                </div>
            </article>
        </div>

        <div class="column">
            <article class="message is-info">
                <div class="message-body">
                    <a href="https://github.com/oasisforyouth/volunteer-management">

                        <h1 class="title is-6">volunteer-management</h1>
                    </a>
                    <p>Full stack application using PostgreSQL, Expressjs, Nodejs, AngularJS, Angular-materal, Nodemailer
                    </p>

                </div>
            </article>
        </div>

        <div class="column">
            <article class="message is-info">
                <div class="message-body">
                    <a href="{{rc.repos.data[29].html_url}}">

                        <h1 class="title is-6">{{rc.repos.data[29].name}}</h1>
                    </a>
                    <p>{{rc.repos.data[29].description}}</p>

                </div>
            </article>
        </div>

    </div>
</div>


</div>